{% extends "base.html" %}

{% load blog_sidebar %}

{% block title %}About{% endblock %}

{% block aboutpage %}active{% endblock %}

{% block sidebar %}
<div id="sidebar">
	<div class="box">
		<h3>Redes Sociais</h3>
		{% profile_links %}
	</div>

</div>
{% endblock %}


{% block content %}
<div class="box">
	<h2>Sobre</h2>
	<img class="alignleft thipag"/>

	<p>
		This page is about <strong>Thiago Pagonha</strong>...
	</p>
	
	<p>Sou Desenvolvedor de Software e Co-fundador de uma startup.</p>
	
	<p>Sou apaixonado por software livre, animes e cultura japonesa, esportes como patinação, ciclismo e natação.</p>
		
</div>

<div class="box">
	<h2>Sobre o site</h2>
	<p>
		Site desenvolvido em <a href="http://www.python.org/">python</a>, usando <a href="http://www.allbuttonspressed.com/projects/django-nonrel">django-nonrel</a>, <a href="http://cloud.google.com/appengine">appengine</a> do google e <a href="http://www.ubuntu.com/">ubuntu</a> linux.
	</p>
</div>

{% endblock %}