<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Accumen
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120712
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>{% block title %}{% endblock %}</title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css" />
		<link rel="SHORTCUT ICON" href="/static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">THI.PAG</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="first {% block homepage%}{% endblock%}">
							<a href="/">Blog</a>
						</li>
						<li class="{% block aboutpage%}{% endblock%}">
							<a href="about">Sobre</a>
						</li>
						<li>
							<a href="#">PortFolio</a>
						</li>
						<li>
							<a href="#">Wiki</a>
						</li>
						<li class="last">
							<a href="https://github.com/thiagopa">GitHub</a>
						</li>
					</ul>
					<br class="clearfix" />
				</div>
			</div>
			<div id="page">
				{% block sidebar %}
				<div id="sidebar">
					<div class="box">
						<h3>Monthly Archive</h3>
						<p>
							Mês que vem tem mais
						</p>
						<ul class="list">

							{% for month in months %}
							{% ifchanged month.0 %} {{ month.0 }}
							<br />
							{% endifchanged %}
							<li>
								<a href="{% url blog.views.month month.0 month.1 %}">{{ month.2 }}</a>
							</li>
							{% endfor %}

						</ul>
					</div>
					
				</div>
				{% endblock %}

				<div id="content">
					{% block content %}
					<div class="box">
						<h2>Bem vindo ao meu site!</h2>
						<img class="alignleft" src="/static/images/pic01.jpg" width="200" height="180" alt="" />
						<p>
							This is <strong>Accumen</strong>, a free, fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The images used in this template are from <a href="http://fotogrph.com/">Fotogrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the footer credits intact. Aside from that, have fun with it :)
						</p>
					</div>
					<div class="box">
						<h3>Nullam curae integer</h3>
						<p>
							Congue quam posuere elit adipiscing varius tellus. Consequat porttitor dolor sed viverra cum congue. Varius primis auctor est nisl at mi quam. Ante libero arcu ridiculus blandit placerat. Sociis in consequat suscipit felis vivamus odio phasellus. Elementum pellentesque vestibulum gravida morbi turpis ante nullam. Pellentesque placerat porta ipsum.
						</p>
					</div>
					<div class="box">
						<h3>Accumsan euismod gravida pellentesque</h3>
						<p>
							Sociis dictum mauris ultricies suspendisse in quisque. Massa non morbi magna eget. Cubilia aliquet duis sapien ac nascetur fringilla ullamcorper. Auctor est odio rhoncus pharetra purus mattis. Ultrices vulputate lacus ridiculus imperdiet cursus. Tellus ridiculus morbi fringilla volutpat mi magna aliquam.
						</p>
					</div>
					{% endblock %}
					<br class="clearfix" />
				</div>
				<br class="clearfix" />
			</div>
			<div id="page-bottom">
				<div id="page-bottom-sidebar">
					<h3>Recomendo</h3>
					<ul class="list">
						<li class="first">
							<a href="http://www.baka-raptor.com/">Baka Raptor</a>
						</li>
						<li>
							<a href="http://hacktoon.com/">Nerdson não vai à Escola</a>
						</li>
						<li class="last">
							<a href="http://www.dorkly.com/originals">Dorkly Originals</a>
						</li>
					</ul>
				</div>
				<div id="page-bottom-content">
					<h3>Biscoito da Sorte</h3>
					<p>
						"Aquele que se importa com os sentimentos dos outros não é um tolo."
					</p>
					<p>“Há três coisas que jamais voltam: a flecha lançada, a palavra dita e a oportunidade perdida.”</p>
					<p>“O cão não ladra por valentia, mas sim por medo.”</p>
				</div>
				<br class="clearfix" />
			</div>
		</div>
		<div id="footer">
			&copy; 2012 <a href="https://www.facebook.com/thi.pag">Thiago Pagonha</a> | Design by <a href="http://www.freecsstemplates.org/">FCT</a> | Images by <a href="http://fotogrph.com/">Fotogrph</a>
		</div>
	</body>
</html>