<!DOCTYPE html>
{% load blog_sidebar %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Thiago Pagonha Personal Site" />
		<meta name="keywords" content="" />
		<title>{% block title %}{% endblock %} @ Thiago Pagonha</title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css" />
		<link rel="SHORTCUT ICON" href="/static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
		{% block head %}{% endblock head %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">THI.PAG</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="first {% block blogpage%}{% endblock%}">
							<a href="/blog/list/">Blog</a>
						</li>
						<li class="{% block psnpage%}{% endblock%}">
							<a href="{% url psn.views.profile %}">PSN</a>
						</li>
						<li class="{% block aboutpage%}{% endblock%}">
							<a href="/blog/about/">Sobre</a>
						</li>
						<li class="{% block wikipage%}{% endblock%} last">
							<a href="/blog/wiki/">Wiki</a>
						</li>
					</ul>
					<br class="clearfix" />
				</div>
			</div>
			<div id="page">
				{% block sidebar %}
				<div id="sidebar">
					<div class="box">
						<h3>Perfis</h3>
							{% profile_links %}
					</div>
					
				</div>
				{% endblock %}

				<div id="content">
					{% block content %}
					<div class="box">
						<h2>Bem vindo ao meu site!</h2>
						<img class="alignleft" src="/static/images/pic01.jpg" width="200" height="180" alt="" />
						<p>
							This is <strong>Accumen</strong>, a free, fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The images used in this template are from <a href="http://fotogrph.com/">Fotogrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the footer credits intact. Aside from that, have fun with it :)
						</p>
					</div>
					<div class="box">
						<h3>Nullam curae integer</h3>
						<p>
							Congue quam posuere elit adipiscing varius tellus. Consequat porttitor dolor sed viverra cum congue. Varius primis auctor est nisl at mi quam. Ante libero arcu ridiculus blandit placerat. Sociis in consequat suscipit felis vivamus odio phasellus. Elementum pellentesque vestibulum gravida morbi turpis ante nullam. Pellentesque placerat porta ipsum.
						</p>
					</div>
					<div class="box">
						<h3>Accumsan euismod gravida pellentesque</h3>
						<p>
							Sociis dictum mauris ultricies suspendisse in quisque. Massa non morbi magna eget. Cubilia aliquet duis sapien ac nascetur fringilla ullamcorper. Auctor est odio rhoncus pharetra purus mattis. Ultrices vulputate lacus ridiculus imperdiet cursus. Tellus ridiculus morbi fringilla volutpat mi magna aliquam.
						</p>
					</div>
					{% endblock %}
					<br class="clearfix" />
				</div>
				<br class="clearfix" />
			</div>
			<div id="page-bottom">
				<div id="page-bottom-sidebar">
					<h3>Recomendo</h3>
					{% afiliates_links %}

				</div>
				<div id="page-bottom-content">
					{% fortune_cookies %}
				</div>
				<br class="clearfix" />
			</div>
		</div>
		<div id="footer">
			&copy; 2012 <a href="http://thiagopagonha.appspot.com/">Thiago Pagonha</a>
		</div>
	</body>
</html>