{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block blogpage %}active{% endblock %}

{% block head %}
	<script src="/static/js/tree.jquery.js" type="text/javascript"></script>
	<link href="/static/styles/jqtree.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	$(document).ready(function(){
		$.getJSON('/blog/archive',
    		function(data) {
        		$('#tree').tree({
            		autoEscape : false,
            		data: data
        	});
    	});
	});
	</script>
{% endblock head %}


{% block sidebar %}
<div id="sidebar">
	<div class="box">
		<h3>Navegação</h3>
		<div id="tree" data-url="/blog/archive"></div>
	</div>

</div>
{% endblock %}

{% block content %}
<div class="box">
	<h2>Conteúdo Mais Recente</h2>
	
	 <!-- Posts  -->
            {% for post in post_list %}
                <div class="shadow">
                <div class="title"><a href="{% url blog.views.post post.slug %}">{{ post.title }}</a></div>
                <ul>
                    <div class="time"><a href="{% url blog.views.category post.categories.id %}">{{post.categories}}</a> - {{ post.created }}</div>
                    <div class="body">{{ post.short_description|linebreaks }}</div>
                    <div class="commentlink">{{ post.views_count }} Visualizações e {{ post.comment_count }} Comentários</div>
                </ul>
                </div>
            {% endfor %}

        <!-- Next/Prev page links  -->
        {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">anterior &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Página {{ posts.number }} de {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; próxima</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
	
	
</div>	
{% endblock %}