{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block blogpage %}active{% endblock %}

{% block sidebar %}
<div id="sidebar">
	<div class="box">
		<h3>Navegação</h3>
		Árvore com os anos e meses e posts
	</div>

</div>
{% endblock %}

{% block content %}
<div class="box">
	<h2>Blog</h2>
	
	<img class="alignleft" src="/static/images/pic01.jpg" width="200" height="180" alt="" />
	
	A idéia é criar um Blog pessoal, trabalho em andamento...
	
	Já possuo um blog sobre animes no <a href="http://myanimelist.net/blog/thiago_pagogna">myanimelist</a>, vou trazê-lo para cá.
	
</div>	
{% endblock %}