{% extends "base.html" %}

{% block title %}{{post.title}} @ Blog{% endblock %}

{% block sidebar %}{% endblock %}

{% block head %}
	<meta property="fb:app_id" content="572311496129468"/>
{% endblock head %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=572311496129468";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

FB.Event.subscribe('edge.create',
    function(response) {
        $(document).load('notify?message='+response);
    }
);
</script>


    <style type="text/css">
        #content {margin: 0 0 0 15px;}
        .main { margin-left: 25px; margin-top: 30px; }
        .time { font-size: 0.8em; margin-top: 2px; }
        .comment { border: 1px solid #eee; padding: 4px; margin-bottom: 12px; }
        .body { font-size: 1.1em; margin-top: 2px; }
        .messages { margin-left: 20px; }
        .title { font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc; padding-left: 4px; }

        #addc { width: 508px; background: #f5f5f5; padding: 3px; padding-bottom: 8px;
            border-bottom: 1px dotted #aaa;
            }
        #cform { background: #f5f5f5; width: 506px; padding: 4px; padding-bottom: 0px; }
        #submit { text-align: right; margin-right: 50px; width: 500px; margin-top: -5px; }

        ul { margin-bottom: 30px; }
    </style>
    <div class="box">
	
	<h2>{{ post.title }}</h2>
	<img class="alignleft thipag"/>

	<p>
		Esta página foi escrita por <strong>Thiago Pagonha</strong> em {{ post.created }}
	</p>

        <!-- Post  -->
        <ul>
            <ul>
                <div class="body">
                	{% autoescape off %}
	{{ post.body }}
	{% endautoescape %}
                	</div>
                <div class="time">Visualizações: {{ post.views_count }}, Comentários : {{ post.comment_count }}</div>
            </ul>
        </ul>

		<div class="fb-comments" data-width="470" data-num-posts="2" data-colorscheme="light"></div>

    </div>

{% endblock %}
