{% extends "base.html" %}

{% load blog_utils %}

{% block title %}{{post.title}} @ Blog{% endblock %}

{% block blogpage %}active{% endblock %}

{% block sidebar %}{% endblock %}

{% block head %}
	<meta property="fb:app_id" content="572311496129468"/>
	<link href="/static/gcp/prettify.css" type="text/css" rel="stylesheet" />
	<script src="/static/gcp/run_prettify.js"></script>
{% endblock head %}

{% block content %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId  : '572311496129468',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });

    /* All the events registered */
    FB.Event.subscribe('comment.create', function (response) {
        // do something with response
        $(document).load('{% url blog.views.send_mail %}?message='+encodeURI(response.href));
        return true;
    });

  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/pt_BR/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
  
</script>


    <style type="text/css">
        #content {margin: 0 0 0 15px;}
        #page { width: 880px; }
		
        .fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }
    </style>
    
    <article class="box">
	<header>
	<h2 class="title-post">{{ post.title }}</h2>
	<img class="alignleft thipag"/>
	<p>
		Esta página foi escrita por <strong>Thiago Pagonha</strong> em <time>{{ post.created }}</time> no assunto de <a href="{% url blog.views.category post.categories.id %}">{{post.categories}}</a>
	</p>
	</header>

        <!-- Post  -->
    {% autoescape off %}
	{{ post.body }}
	{% endautoescape %}
    
    <div class="clearfix"></div>
    
    <div class="time right">{{ post.views_count }} Visualizações e {% comment_decorator post.comment_count %}</div>

	<div class="blog-end"></div>

	<div class="fb-comments" data-width="480" data-num-posts="2" data-colorscheme="light" data-notify="true" data-href="http://thiagopagonha.appspot.com{% url blog.views.post post.slug %}"></div>

    </article>

{% endblock %}
