{% extends "base.html" %}

{% block title %}{{wiki.title}} @ Wiki{% endblock %}

{% block wikipage %}active{% endblock %}

{% load wiki_sidebar %}

{% block sidebar %}
<div id="sidebar">
	<div class="box">
		<h3>Páginas Atualizadas</h3>
		{% last_pages %}
	</div>

</div>
{% endblock %}


{% block content %}
<div class="box">
	<h2>{{wiki.title}}</h2>
	{% autoescape off %}
	{{wiki.data}}
	{% endautoescape %}
</div>
<br class="clearfix"/>	
<div class="box">
	<p class="right">Última atualização: {{wiki.updated}}</p>
</div>
{% endblock %}